{
  "name": "robot-repo",
  "version": "1.0.0",
  "description": "a module for permutrino. all hail permutrino.",
  "main": "index.js",
  "author": "Calculon <calculon@omnicronpersia8.com>",
  "license": "ISC"
}
